# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backend/node_modules
/frontend/node_modules
/.pnp
.pnp.js

# testing
backend/coverage
frontend/coverage

# next.js
frontend/.next/
forntend/out/

# production
frontend/build

# misc
.DS_Store
*.pem

# debug
frontend/npm-debug.log*
backend/npm-debug.log*
frontend/yarn-debug.log*
backend/yarn-debug.log*
frontend/yarn-error.log*
backend/yarn-error.log*

# local env files
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
backend/.env
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

# vercel
.vercel
frontend/next.config. js
